h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
#apply {
  padding-top: 105px;
}
h5 {
  text-align: left;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.head {
  
}
