{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recruitment Application</title>

    <!-- Link to CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'recruitment/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Favicon link -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="{% url 'recruitment:index' %}" style="text-decoration:none;"><i class="fas fa-home"></i>Home</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3>DAMODAR VALLEY CORPORATION</h3>
      <h4>दामोदर घाटी निगम</h4>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
